# Virtual environment
.venv/
venv/

# Python
__pycache__/
*.pyc

# Ignore generated output
output/*

# Keep the output folder and final submission
!output/
!output/submission.csv

# Dataset
data/candidates.jsonl

# Optional large model/cache folders
models/
.cache/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db